<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EndpointBaseAddress" value="https://api.preprod.nandos.services"/>
    <add key="EndpointMethod" value="/loyalty/v1/accounts/insights"/>
    <add key="ApiKey" value="5a6dfd32-2f73-47df-aa64-664619bf2475"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
